<html>

<head>
    <title>CoroZone</title>
    <link rel="stylesheet" href="/app1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpeg"
        href="https://th.bing.com/th/id/OIP.3cwl5OI9IgTFZdVCNB3eVwHaE8?w=206&h=160&c=7&o=5&pid=1.7">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162691988-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-162691988-1');
    </script>
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
</head>

<body>
    <style>
        h1 {
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            background: black;
            color: white;
            padding: 10px;
        }

        footer {
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            background: black;
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #ac {
            color: gray;
        }

        #cc {
            color: orange;
        }

        #de {
            color: red
        }

        #re {
            color: green;
        }

        #al {
            color: red;
            border: 1px solid red;
            border-radius: 20px;
            padding-left: 5px;
            padding-right: 5px;
        }

        span {
            color: red;
        }

        @media only screen and (max-width:500px) {

            /* For mobile phones: */
            table {
                font-size: 9.6px;
            }

            .butn {
                width: 300px;
            }

            .india-case {
                padding-left: 5px;
            }
        }

        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            color: #f1f1f1;
        }

        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        .openbtn {
            font-size: 15px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 8px 13px;
            border: none;
        }

        .openbtn:hover {
            background-color: #444;
        }

        #main {
            transition: margin-left .5s;
            padding: 10px;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media only screen and (max-width: 768px) {
            .sidebar {
                padding-top: 15px;
            }

            .sidebar a {
                font-size: 18px;
            }
        }

        .btn.disabled,
        .btn:disabled {
            opacity: 1;
            margin-left: 10;
        }

        .precautions {
            text-align: justify;
            padding: 20px;
            color: white;
        }

        hr {
            border-bottom: none;
            margin: 10px auto 10px;
            margin-right: 70%;
        }

        .india-case {
            margin: auto;
        }

        .row {
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>

    <h1 style="font-size:3.5vw;"> Covid-19 Monitor India <i class="India flag"></i> </h1>

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <h5 style="color: aqua; padding: 5px;">Do's</h5>
        <ol class="precautions">
            <li>Practice frequent hand washing. Wash hands with soap and water or use alcohol based hand rub.</li>
            <li>Cover your nose and mouth with handkerchief / tissue while sneezing and coughing.</li>
        </ol>
        <h5 style="color: aqua; padding: 5px;">Dont's</h5>
        <ol class="precautions">
            <li>Have a close contact with anyone, if you're experiencing cough and fever.</li>
            <li>Touch your eyes, nose and mouth.</li>
        </ol>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">☰ Precautions</button>
    </div>

    <button class="btn btn-danger" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Live Updates
    </button>
    <br /><br />

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card" style="border: 0px;">
                <div class="card-body india-case">
                    <button style="width: 300px;" class=" butn btn btn-warning btn-block btn-lg">
                        <h5> Confirmed cases: <span class="badge badge-light"><%=p.statewise[0].confirmed %></span>
                        </h5>
                    </button>
                    <button style="width: 300px;" class=" butn btn btn-primary btn-block btn-lg">
                        <h5> Active cases: <span class="badge badge-light"><%= p.statewise[0].active %></span></h5>
                    </button>
                    <button style="width: 300px;" class=" butn btn btn-danger btn-block btn-lg">
                        <h5> Deaths cases: <span class="badge badge-light"><%= p.statewise[0].deaths %></span></h5>
                    </button>
                    <button style="width: 300px;" class=" butn btn btn-info btn-block btn-lg">
                        <h5> Recovered cases: <span class="badge badge-light"><%= p.statewise[0].recovered %></span>
                        </h5>
                    </button>
                    <button style="width: 300px;" class=" butn btn btn-secondary btn-block btn-lg">
                        <h5> Migrated cases: <span class="badge badge-light">1</span></h5>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12" style="padding-top:15;">
            <div class="card" style="border: 0px;">
                <div class="card-body" style="padding-left: 25;width: 75%; text-align: justify;">
                    <h5 class="card-title">Donate to PMNRF</h5>
                    <p class="card-text">Prime Minister's National Relief Fund (PMNRF) was established entirely with
                        public contributions and does not get any budgetary support.</p>
                    <a href="https://pmnrf.gov.in/en/online-donation" target=_blank"" class="btn btn-primary">Donate</a>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-left: auto; margin-right: auto;" class="container">

    </div>
    <br>
    <table style="width: 100%; margin-left: auto; margin-right: auto;"
        class="table table-bordered table-striped table-hover table-warning">
        <thead class="thead-dark">
            <tr>
                <th scope="col">State</th>
                <th scope="col">Active</th>
                <th scope="col">Confirmed</th>
                <th scope="col">Death</th>
                <th scope="col">Recovered</th>
                <th scope="col">State Code</th>
            </tr>
        </thead>
        <tbody>
            <%Object.keys(p.statewise).forEach(function(key) {%>
            <tr>
                <% if(p.statewise[key].state=="Unknown"){%>
                <%}else{%>
                <th scope="row"> <%=p.statewise[key].state%></th>
                <% }%>
                <%Object.keys(p.statewise[key]).forEach(function(key1) {%>
                <%if(key1==="active"){%>
                <td><span class="badge badge-primary"> <%=p.statewise[key][key1]%></span></td>
                <%}%>
                <%if(key1==="confirmed"){%>
                <td><span class="badge badge-warning"> <%=p.statewise[key][key1]%></span></td>
                <%}%>
                <%if(key1==="deaths"){%>
                <td><span class="badge badge-danger"> <%=p.statewise[key][key1]%></span></td>
                <%}%>
                <%if(key1==="recovered"){%>
                <td><span class="badge badge-info"> <%=p.statewise[key][key1]%></span></td>
                <%}%>
                <%if(key1==="statecode"){%>
                <td><span class="badge badge-secondary"> <%=p.statewise[key][key1]%></span></td>
                <%}%>
        <%})%>
            </tr>
            <%})%>
        </tbody>
    </table>
    <footer>&#169; 2020 Made with<span> ❤</span> by <a href="https://priteshsingh-vats.github.io/pweb1/"
            target="_blank">Pritesh
            Singh</a> and <a href="https://imarchit19.github.io/Personal-Website" target="_blank">Archit Gupta</a><br>
        All Rights
        Reserved</footer>
</body>

</html>